<div class="form-group">
<label>Device Identity</label>
<input class="form-control" placeholder="Device Identity" ng-model="TimeRange.Device_identity">
</div>


<div class="form-group">
<label>Starttime</label>
<input class="form-control" type="datetime-local"  name="starttime" ng-model="TimeRange.starttime">
</div>


<div class="form-group">
<label>Stop time</label>
<input class="form-control" type="datetime-local"  name="stoptime" ng-model="TimeRange.stoptime">
</div>

<button ng-click="getDevicePositions()">Analyze</button>

 <!-- table content starts here -->
                <div class = "row" ng-show="DeviceData.length > 0">
                    <div class="col-lg-6">
                    <h4>Devices stationary more than two minutes</h4>
                    <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                            <th>Number</th>
                            <th>Unique Device_Identity</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Speed</th>
                            <th>Status</th>
                            <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="device in DeviceData">
                            <td>{{$index + 1}}</td>
                            <td>{{device.Device_identity}}</td>
                            <td>{{device.Latitude}}</td>
                            <td>{{device.Longitude}}</td>
                            <td>{{device.Speed}}</td>
                            <td>{{device.Status}}</td>
                            <td>{{device.Timestamp}}</td>     
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

                </div>
                <!-- table content ends here -->