<div class="form-group">
<label>Starttime</label>
<input class="form-control" placeholder="Starttime" ng-model="TimeRange.starttime">
</div>


<div class="form-group">
<label>Stop time</label>
<input class="form-control" placeholder="stoptime" ng-model="TimeRange.stoptime">
</div
<div class="form-group">
<label>Latitude</label>
<input type="number" class="form-control" placeholder="Starttime" ng-model="TimeRange.Latitude">
</div>


<div class="form-group">
<label>Longitude</label>
<input type="number" class="form-control" placeholder="stoptime" ng-model="TimeRange.Longitude">
</div>
<button ng-click="getgeodwellList()">Analyze</button>

 <!-- table content starts here -->
                <div class = "row" ng-show="inrangedevices.length > 0">
                    <div class="col-lg-6">
                    <h4>Devices within range of above latitude and longitude</h4>
                    <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                            <th>Number</th>
                            <th>Unique Device_Identity</th>                          
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="device in inrangedevices">
                            <td>{{$index + 1}}</td>
                            <td>{{device}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

                </div>
                <!-- table content ends here -->